/* Empire State Building CSS page */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 90px;
  background-color: #f8f9fa;

}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("../images/empire_hero.jpg")  center/cover no-repeat;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
  padding: 10px;
}

.hero-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
}


.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  /* max-width: 1200px; */
  margin: 5px;
  background-color: #f5f5dc;
}


.about-content {
  width: 60%;
}

.about-content h2 {
  text-align: center;
}

.about-content p {
  font-size: 16px; 
  line-height: 1.8; 
  color: #444; 
  text-align: justify; 
  margin-bottom: 20px; 
  max-width: 900px;
}

.about-image {
  width: 35%;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
}


.fun-facts {
  text-align: center;
  padding: 30px 7px;
  background: #dcdcdc;
}

.fun-facts h2 {
  padding-bottom: 25px;
}

.facts-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.fact-item {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 1.6; 

}



.fact-item i {
  font-size: 30px;
  color: #007bff;
}


.visit-info-data {
  width: 100%;
  text-align: center;
  padding: 40px 20px;
  background: linear-gradient(135deg, #dde5f4, #b0c4de); 
}


.visit-info-data h2 {
  margin-bottom: 25px;
}

.visit-card {
  background: white;
  padding: 30px;
  max-width: 600px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); /* Stronger 3D effect */
 
}




.visit-card ul {
  list-style: none;
  padding: 0;
}

.visit-card li {
  font-size: 16px;
  margin-bottom: 15px;
  color: #444;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}


.visit-card li strong {
  color: #007bff;
}

.visit-card hr {
  margin: 5px 0;
}


.visit-card a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.visit-card a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.map_details p {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.map_details img {
 width: 100%;
}


footer {
  text-align: center;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}


#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #036ad7;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  z-index: 1000;
}

#scrollToTop.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#scrollToTop:hover {
  background: #014085;
}


.gallery {
  background: #e9ecef;
  padding: 50px 10px;
}

.gallery h2 {
  text-align: center;
  margin-bottom: 25px;
}
.gallery-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 40px;
  
}

/*  */
.gallery-image-wrapper {
  overflow: hidden;
  border-radius: 8px;
  flex: 0 0 auto;
  position: relative;
}
.gallery-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.gallery-image-wrapper:hover img {
  transform: scale(1.1);
}

/*  */
.gallery-slider {
  overflow: hidden;
  width: 100%;
}


.gallery-track {
  display: flex;
  gap: 15px;
  transition: transform 0.5s ease;
  will-change: transform;
}


.gallery-track img {
  flex: 0 0 auto;
  width: 250px;                
  height: auto;               
  max-height: 380px;           
  object-fit: contain;
  border-radius: 8px;
  box-sizing: border-box;
}

.gallery-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(40, 45, 49, 0.9);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.gallery-btn.left {
  left: 5px;
}

.gallery-btn.right {
  right: 5px;
}

.gallery-btn:hover {
  background-color: #007bff;
}


.gallery-grid img {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.gallery-grid img.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

.gallery-slider {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  scroll-snap-type: x mandatory; 
}



@media (max-width: 768px) {

  .hero h1{
      font-size: 25px;
  }


  .visit-card li {
    font-size: 14px;
  }

  .about-container {
    flex-direction: column;
  }

  .about-content {
    width: 100%;
  }
  .about-content p {
    font-size: 14px;
  }
  .about-image {
    width: 100%;
  }
}


@media (max-width: 460px) {
  .fact-item {
    width: 300px;
  }
}


