/* Homepage CSS page */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 80px; 
}

header {
  height: 100vh;
  background-image: linear-gradient(
      rgba(45, 92, 132, 0.5),
      rgba(45, 92, 132, 0.5)
    ),
    url("../images/nyc_skyline.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__container {
  width: 100%;
  text-align: center;
}

.section__title {
  font-size: 32px; 
  font-weight: 500;
  color: #eff5f5; 
  margin-bottom: 16px; 
  text-align: center;
}

.section__subtitle {
  font-size: 16px; 
  font-style: italic;
  color: #f8f9fa; 
  margin-bottom: 40px;
  text-align: center;
}


.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  color: #f3f4f6;
}

.header__content h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
}

.header__content p {
  text-align: center;
}

.header__content button {
  padding: 16px 32px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #669ccb;
  color: #f3f4f6;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}



.journey_container {
  width: 100%;
  background-color: #98b6d3;
  padding: 50px 20px;
}

.journey__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-items: flex-start;
  gap: 30px;
}

.country__card {
  flex: 1 1 calc(33.33% - 20px); 
  max-width: calc(33.33% - 20px);
  background-color: #f3f4f6;
  text-align: center;
  border-radius: 10px;
}

.country__card img {
  width: 100%;
  height: auto;
}


.country__name {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #767268;
  cursor: pointer;
}

.country__name i {
  font-size: 19.2px;
}

.country__name span {
  font-style: italic;
}

footer {
  text-align: center;
  padding: 15px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}


#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #036ad7;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  z-index: 1000;
}

#scrollToTop.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#scrollToTop:hover {
  background: #014085;
}


@media (max-width: 1024px) {
  .country__card {
    flex: 1 1 calc(50% - 20px); 
    max-width: calc(50% - 20px);
  }
}


@media (max-width: 768px) {
  .country__card {
    flex: 1 1 100%; 
    max-width: 100%;
  }

  .header__content h1 {
    font-size: 40px;
    padding: 5px;
  }
  
  .header__content p {
    font-size: 20px;
  }
}



