/* Navbar CSS page */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282d31;
  z-index: 1000;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo a {
  text-decoration: none;
  color: #f3f4f6;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav__logo img {
  width: 90px;
  height: 60px;
}


.menu-toggle {
  display: none;
  font-size: 28px;
  color: #f3f4f6;
  cursor: pointer;
}


.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav__links a {
  text-decoration: none;
  color: #f3f4f6;
  text-transform: uppercase;
  transition: 0.3s;
}

.main_nav {
  font-weight: bold;
  font-size: 14px;
}



.nav__links a:hover {
  color: #669ccb;
  color: red;
}



.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #4a4f57;
  list-style: none;
  top: 100%;
  left: 0;
  min-width: 200px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0;
  border-radius: 4px;
  font-size: 12px;
}

.dropdown-menu li {
  padding: 10px 0;
}

.dropdown-menu a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.dropdown-menu a:hover {
  background-color: #669ccb;
}

.dropdown:hover .dropdown-menu {
  display: block;
}



@media (max-width: 1080px) {
  .menu-toggle {
    display: block;
  }

  .nav__links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #282d31;
    flex-direction: column;
    text-align: center;
    gap: 0;
    display: none;
  }

  .nav__links.active {
    display: flex;
  }

  .nav__links li {
    width: 100%;
    padding: 15px 0;
  }


  .dropdown-menu {
    position: static;
    display: none;
    background-color: #444;
    box-shadow: none;
  }

  .dropdown.active .dropdown-menu {
    display: block;
  }

  .nav__logo h3 {
    font-size: 20px;
  }
}

